# Ignore artifacts:
dist
.astro
.playwright-mcp

# Standard
**/.git
**/node_modules

# Lockfile
package-lock.json

# Generated
sitemap-lastmod-cache.json

# API JSON/YAML
public

# Ignore media & binary assets
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.mp4
*.woff
*.woff2
**/files/*
**/assets/*
