{
  "openapi": "3.1.0",
  "info": {
    "title": "OnceHub Booking Calendars API",
    "version": "2.0.0",
    "license": {
      "name": "Proprietary",
      "url": "https://www.oncehub.com/trustcenter/legal/api-terms-of-use"
    },
    "description": "The OnceHub Booking Calendars API allows you to manage bookings, calendars, event types, and scheduling resources programmatically.\n\n**Note:** This documentation is for the Booking Calendars product. Booking Calendars is our current and recommended scheduling solution."
  },
  "servers": [
    {
      "url": "https://api.oncehub.com/v2"
    }
  ],
  "security": [
    {
      "ApiKey": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Validate API credentials and manage authentication for OnceHub API access. All API requests require an API key to be passed in the `API-Key` header."
    },
    {
      "name": "Bookings",
      "description": "Manage booking appointments and their lifecycle. Bookings represent scheduled meetings \nbetween contacts and users. Use these endpoints to list, retrieve, and perform actions \non bookings such as canceling, requesting reschedules, or marking as no-show.\n"
    },
    {
      "name": "Booking Calendars",
      "description": "Manage booking calendars and their availability. Booking calendars define available \ntime slots for appointments and can be used to schedule meetings. Use these endpoints \nto list calendars, retrieve availability, schedule appointments, and create one-time \nbooking links.\n"
    },
    {
      "name": "Contacts",
      "description": "Manage contact information and relationships. Contacts represent people who have \nscheduled or may schedule appointments through your booking pages. Use these endpoints \nto list contacts, retrieve contact details, and manage contact records.\n"
    },
    {
      "name": "Notifications",
      "description": "Notifications are messages sent by OnceHub to contacts and users through various channels such as SMS, email, or push notifications.\nThe notifications API allows you to retrieve and monitor notification delivery status and details.\n"
    },
    {
      "name": "Teams",
      "description": "Manage teams and team memberships. Teams allow you to organize users into groups \nfor shared calendars, permissions, and resource management. Use these endpoints to \nretrieve team information and manage team-related operations.\n"
    },
    {
      "name": "Users",
      "description": "Manage user accounts and their properties. Users represent team members who can \nschedule appointments, manage calendars, and access the OnceHub platform. Use these \nendpoints to list users, retrieve user details, manage user accounts, and check \nscheduling availability.\n"
    },
    {
      "name": "Webhooks",
      "description": "Manage webhook subscriptions to receive real-time notifications for booking lifecycle events."
    },
    {
      "name": "Webhook Events",
      "description": "Event payloads sent to your webhook endpoints when booking and conversation lifecycle events occur.\n\nThese schemas define the structure of the HTTP POST requests that OnceHub sends to your configured webhook URLs. Each event includes metadata about when it occurred and a data object containing the relevant booking or conversation information.\n\nTo start receiving webhook events, [create a webhook subscription](/reference/booking-calendars/#tag/webhooks/post/webhooks) with your desired event triggers.\n"
    }
  ],
  "paths": {
    "/test": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Validate API key",
        "description": "Enter your API key in the headers section below and click on \"Try it\" to test it.",
        "operationId": "validate-api-key",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "message": "The API key is valid for account: admin@example.com"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "The API key is valid for account: admin@example.com"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "deprecated": false
      }
    },
    "/bookings": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "List all bookings",
        "description": "Returns a list all bookings in the account",
        "operationId": "list-all-bookings",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Only return bookings that have the given status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "in": "query",
            "description": "Only return booking owned by a user with a specific user ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact",
            "in": "query",
            "description": "Only return bookings that were scheduled with the contact with the provided ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creation_time.gt",
            "in": "query",
            "description": "Return bookings with creation time greater than the given date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "creation_time.lt",
            "in": "query",
            "description": "Return bookings with creation time less than the given date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "starting_time.gt",
            "in": "query",
            "description": "Return bookings with starting time greater than the given date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "starting_time.lt",
            "in": "query",
            "description": "Return bookings with starting time less than the given date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "last_updated_time.gt",
            "in": "query",
            "description": "Return bookings with last updated time greater than the given date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "last_updated_time.lt",
            "in": "query",
            "description": "Return bookings with last updated time less than the given date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "A comma separated list of fields that you want to [expand](/docs/overview/expanding-responses). Possible values are `booking_page`, `master_page`, `event_type`, `owner`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "booking_calendar",
            "in": "query",
            "required": false,
            "description": "Only return bookings that were created from the booking calendar with the provided ID.\n",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "host",
            "in": "query",
            "required": false,
            "description": "Only return bookings hosted or co-hosted by a user with a specific user ID.\n",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingList"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_date_range": {
                    "$ref": "#/components/examples/InvalidLastUpdatedDateRangeExample"
                  },
                  "out_of_range_limit": {
                    "$ref": "#/components/examples/OutOfRangeLimitExample"
                  },
                  "both_before_and_after": {
                    "$ref": "#/components/examples/BothBeforeAndAfterExample"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "deprecated": false
      }
    },
    "/bookings/{id}": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Get a single booking",
        "description": "Returns a single booking by ID",
        "operationId": "get-a-single-booking",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such booking: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "deprecated": false
      }
    },
    "/bookings/{id}/cancel": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Cancel a booking",
        "description": "Cancel a booking by ID",
        "operationId": "cancel-booking",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cancellation_reason": {
                    "type": "string",
                    "description": "Reason for cancelling the meeting (optional)"
                  },
                  "send_cancellation_email": {
                    "type": "boolean",
                    "description": "Whether a cancellation email should be sent",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingWithCancelInfo"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such booking: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Booking cannot be cancelled: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Paid bookings cannot be canceled through this endpoint. Please login to OnceHub and use the Activity Stream to cancel paid bookings."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "deprecated": false
      }
    },
    "/bookings/{id}/request-reschedule": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Request a reschedule",
        "description": "Request to reschedule a booking by ID",
        "operationId": "request-reschedule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reschedule_reason": {
                    "type": "string",
                    "description": "Reason for requesting the customer to reschedule the meeting (optional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingWithCancelInfo"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such booking: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Booking cannot be cancelled: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Paid bookings can only be requested for reschedule in your OnceHub account. Log in and use the activity stream to submit a reschedule request for this booking."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "deprecated": false
      }
    },
    "/bookings/{id}/reassign": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Reassign a booking",
        "description": "Reassign an existing booking to a new host by ID.\n\nEffects of reassignment:\n- The original calendar event is deleted, and a new event is created in the new host's integrated calendar.\n- Reassignment notifications are sent to guests and hosts.\n",
        "operationId": "reassign-booking",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the booking.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_host": {
                    "type": "string",
                    "description": "The OnceHub user ID for the new host. The user must belong to the same account, hold an active seat license, and cannot be the current host of the booking."
                  },
                  "location": {
                    "type": "object",
                    "description": "Optional. Determines how the location is handled when a meeting is reassigned to a new host.\n\n**Case 1: When `location` object is omitted:** The system applies the following logic based on the original booking's location type:\n\n- *Online Meetings:* The system first tries to use the same Video Conference Service provider as the original host. If that specific Video Conference Service provider is not connected to the new host, it automatically selects the best available integration based on this priority:\n\n  1. Google Meet\n  2. Microsoft Teams\n  3. Zoom\n  4. Webex Meetings\n  5. GoTo Meeting\n\n- *In-person/ Phone Meetings:* The location remains unchanged for the new host.\n\n>[!NOTE]\nMissing Integration: If the original meeting was virtual but the new host has no Video Conference Service integrations connected, the booking will be reassigned successfully but will proceed without a virtual link. To avoid meetings without links, it is recommended to verify host integrations before reassignment.\n\n**Case 2: When `location` object is included:** The system applies the specific `type` and `value` for the new host. Currently, this object only supports virtual updates and cannot be used to switch a virtual meeting to an In-person location. The selected Video Conference Service must be connected and active in the new host's OnceHub account.\n\n>[!IMPORTANT]\nReassignment Failure: If the specified Video Conference Service is not connected for the new host, the reassignment request will fail. In this case, the API will return an error along with a list of connected Video Conference Service options available for that host.\n",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "virtual"
                        ],
                        "description": "Fixed Value: virtual.\n\nThe required location type for virtual conferencing.\n\nNote: virtual is currently the only supported override type. In-person and Phone locations can only be maintained by omitting the location object.\n"
                      },
                      "value": {
                        "type": "string",
                        "description": "Supported Values: The specific service to be used.\n",
                        "enum": [
                          "google_meet",
                          "microsoft_teams",
                          "webex",
                          "gotomeeting",
                          "zoom"
                        ]
                      }
                    },
                    "required": [
                      "type",
                      "value"
                    ]
                  }
                },
                "required": [
                  "new_host"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "BookingNotFound": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such booking: '123'",
                      "param": "id"
                    }
                  },
                  "UserNotFound": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such user: 'USR-XXXXXXXXXX'",
                      "param": "new_host"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "UserInactive": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "User is inactive.",
                      "param": "new_host"
                    }
                  },
                  "PlanRestriction": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Reassign is available on the Route plan and above."
                    }
                  },
                  "SameHost": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Booking cannot be reassigned to the same host.",
                      "param": "new_host"
                    }
                  },
                  "BookingsStatus": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Booking cannot be reassigned in its current status.",
                      "param": "id"
                    }
                  },
                  "InvalidLocation": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Invalid location: 'Webex' is not connected for this user. Connected Video Conference Service options: google_meet, microsoft_teams.",
                      "param": "location.value"
                    }
                  },
                  "HostSeat": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Cannot reassign booking: The new host requires an assigned seat."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "deprecated": false
      }
    },
    "/bookings/{id}/no-show": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Set a booking as no-show",
        "description": "Update the booking status to no-show by ID",
        "operationId": "no-show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such booking: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Cannot update booking status to no_show: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "deprecated": false
      }
    },
    "/booking-calendars": {
      "get": {
        "tags": [
          "Booking Calendars"
        ],
        "summary": "List all booking calendars",
        "description": "Returns a list of all booking calendars in your account",
        "operationId": "list-all-booking-calendars",
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "description": "Filter booking calendars hosted by this user ID or team ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingCalendarList"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "out_of_range_limit": {
                    "$ref": "#/components/examples/OutOfRangeLimitExample"
                  },
                  "both_before_and_after": {
                    "$ref": "#/components/examples/BothBeforeAndAfterExample"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "deprecated": false
      }
    },
    "/booking-calendars/{id}": {
      "get": {
        "tags": [
          "Booking Calendars"
        ],
        "summary": "Get a single booking calendar",
        "description": "Returns a single booking calendar by ID",
        "operationId": "get-a-single-booking-calendar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking calendar",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingCalendar"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such booking calendar: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "deprecated": false
      }
    },
    "/booking-calendars/{id}/time-slots": {
      "get": {
        "tags": [
          "Booking Calendars"
        ],
        "summary": "Get available time slots for a booking calendar",
        "description": "Returns a list of available time slots for a booking calendar\n\n> [!note]\n> Notes On Using This Endpoint\n> * All datetime strings are [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) in full form. For example, `2024-11-29T09:30:00.000Z`.\n> * All datetime strings are in UTC.\n> * The difference between `start_time` and `end_time` must be less than or equal to 30 days.\n",
        "operationId": "get-available-time-slots-for-booking-calendar",
        "parameters": [
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "description": "The date and time from which to begin checking for available slots. If not provided, the system defaults to current time.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": ""
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "description": "The date and time up to which to check for available slots. If not provided, the system defaults to one week from `start_time`.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": ""
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking calendar",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "start_time": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The start time of the available slot in ISO 8601 format",
                        "example": "2024-12-02T06:30:00.000Z"
                      },
                      "locations": {
                        "type": "array",
                        "description": "Available location options for this time slot",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "The type of location:\n\n* `virtual`: Online meetings with dynamic links.\n* `virtual_static`: Online meetings with static links.\n* `physical`: In-person meetings.\n* `guest_phone`: Phone calls.\n* `in_person_by_guest`: Guest provides the meeting location.\n",
                              "enum": [
                                "virtual",
                                "virtual_static",
                                "physical",
                                "guest_phone",
                                "in_person_by_guest"
                              ],
                              "example": "virtual"
                            },
                            "value": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "The value returned depends on the location `type`:\n\n* `virtual`: Video conferencing platform (e.g., `google_meet`, `microsoft_teams`, `zoom`, `webex`, `gotomeeting`).\n* `virtual_static`: `null` (the actual custom link is not known in advance).\n* `physical`: Actual address string (e.g., \"123 Business Lane\").\n* `guest_phone`: `null` (the actual phone number is not known in advance).\n* `in_person_by_guest`: `null` (the actual address is not known in advance).\n",
                              "example": "google_meet"
                            },
                            "id": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "The location ID:\n\n* `physical`: The address ID (e.g., `ADD-1234`).\n* `virtual`, `virtual_static`, `guest_phone`, `in_person_by_guest`: `null`.\n",
                              "example": null
                            }
                          },
                          "required": [
                            "type",
                            "value",
                            "id"
                          ]
                        }
                      }
                    },
                    "required": [
                      "start_time",
                      "locations"
                    ]
                  }
                },
                "examples": {
                  "Result": {
                    "value": [
                      {
                        "start_time": "2024-12-02T06:30:00.000Z",
                        "locations": [
                          {
                            "type": "virtual",
                            "value": "google_meet",
                            "id": null
                          },
                          {
                            "type": "virtual_static",
                            "value": null,
                            "id": null
                          },
                          {
                            "type": "guest_phone",
                            "value": null,
                            "id": null
                          }
                        ]
                      },
                      {
                        "start_time": "2024-12-05T14:30:00.000Z",
                        "locations": [
                          {
                            "type": "physical",
                            "value": "123 Business Lane, Suite 400, New York, NY",
                            "id": "ADD-17SE9FWWOC"
                          },
                          {
                            "type": "in_person_by_guest",
                            "value": null,
                            "id": null
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "End time must be after the start time.",
                      "param": "end_time"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "description": "402",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Time slots cannot be retrieved when the host doesn't have a seat assigned."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Time slots cannot be retrieved from an unpublished booking calendar.",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "deprecated": false
      }
    },
    "/booking-calendars/{id}/schedule": {
      "post": {
        "tags": [
          "Booking Calendars"
        ],
        "summary": "Book a time slot",
        "description": "Book a time from the available time slots\n\n> [!note]\n> Notes On Using This Endpoint\n> * This endpoint is designed to be used with the \"Get available time slots\" endpoint. First, retrieve available time slots for a specific time range, and then use this endpoint to book one of those slots.\n> * You can only select a location from those offered within the available time slots.\n> * All datetime strings are [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) in full form. For example, `2024-11-29T09:30:00.000Z`.\n\n> [!tip]\n> Using Custom Fields  \n> In addition to the standard fields, you can pass your own data by including custom key-value pairs within the `booking_form` object in the request body.\n>\n> * **Field Name (Key)**: The key for each custom field must exactly match the mapped field name of the corresponding question configured in your Booking page's form settings.\n> * **Field Value**: The data type of the value must match the question's type:\n>   * For Text and Picklist (single-select) questions, provide a string.\n>   * For Picklist (multi-select) questions, provide an array of strings.\n>\n> Please note that for picklist fields, any values that do not match a pre-configured option will be ignored by the system during booking.\n",
        "operationId": "book-a-time-slot-for-a-booking-calendar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking calendar",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "start_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date and time of the time slot"
                  },
                  "guest_time_zone": {
                    "type": "string",
                    "description": "The guest's timezone in [IANA timezone format](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones)"
                  },
                  "booking_form": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/BookingForm"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "email"
                        ]
                      }
                    ]
                  },
                  "location": {
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "physical",
                          "virtual",
                          "virtual_static",
                          "guest_phone",
                          "in_person_by_guest"
                        ],
                        "description": "The type of location:\n\n* `physical`: In-person meetings.\n* `virtual`: Online meetings with dynamic links.\n* `virtual_static`: Online meetings with static links.\n* `guest_phone`: Phone calls.\n* `in_person_by_guest`: Guest provides the meeting location.\n"
                      },
                      "value": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "The value to provide depends on the location `type`:\n\n* `physical`: The location's address ID (e.g., `ADD-1234`).\n* `virtual`: One of the following: `google_meet`, `microsoft_teams`, `gotomeeting`, `webex`, or `zoom`.\n* `virtual_static`: Use `null`.\n* `guest_phone`: The guest's phone number in E164 format.\n* `in_person_by_guest`: The address provided by the guest.\n"
                      }
                    },
                    "required": [],
                    "type": "object",
                    "description": "The location object is optional. If omitted, the system automatically selects an available host's pre-set location (such as `virtual`, `virtual_static` or `physical`), prioritizing `virtual` whenever it is an available option. **Note:** If only a single location is available for the slot, that location will be automatically selected. To use a guest-driven location type like `in_person_by_guest` or `guest_phone`, the value must be explicitly provided."
                  }
                },
                "required": [
                  "start_time",
                  "guest_time_zone",
                  "booking_form"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "BKNG-J4FR05BKEWEX"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "BKNG-J4FR05BKEWEX"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Required fields missing": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Required fields are missing.",
                      "param": "booking_form"
                    }
                  },
                  "Time slot unavailable": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "The selected start time is not available.",
                      "param": "start_time"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "description": "402",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Meeting cannot be scheduled when the host doesn't have a seat assigned."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Meeting cannot be scheduled on an unpublished booking calendar.",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "deprecated": false
      }
    },
    "/booking-calendars/{id}/one-time-links": {
      "post": {
        "tags": [
          "Booking Calendars"
        ],
        "summary": "Create a one-time link",
        "description": "Creates a one time link for a Booking Calendar.\n\n> [!note]\n> One-time links are only available for published booking calendars.\n\n> [!important]\n> One-time links that haven't been consumed will be automatically deleted after 90 days.\n",
        "operationId": "booking-calendars-create-a-one-time-link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking calendar",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hide_url_params": {
                    "type": "boolean",
                    "description": "When set to `true`, the API generates a short one-time-use link with no visible query parameters.",
                    "default": true
                  },
                  "booking_form": {
                    "$ref": "#/components/schemas/BookingForm"
                  },
                  "utm_params": {
                    "$ref": "#/components/schemas/UtmParams"
                  },
                  "booking_settings": {
                    "type": "object",
                    "x-propertyOrder": [
                      "host",
                      "co_hosts",
                      "duration_minutes",
                      "skip"
                    ],
                    "description": "Settings for the booking calendar when the one-time link is used.",
                    "properties": {
                      "host": {
                        "type": "string",
                        "description": "The email of the team member who should host the booking. Only supported on team booking calendars. If the host is not a part of the team or doesn't have a license, the host is ignored and the distribution method continues as configured."
                      },
                      "co_hosts": {
                        "type": "string",
                        "description": "A comma-separated list of email addresses for co-hosts to be added to the booking. All co-hosts must share the same OnceHub account, possess an active license, and must not be deleted. Multiple email addresses should be separated strictly by commas (e.g., `cohost1@example.com,cohost2@example.com`)."
                      },
                      "duration_minutes": {
                        "type": "integer",
                        "description": "The meeting duration in minutes. Must be one of the durations configured in the booking calendar settings. When set, the guest cannot change the duration."
                      },
                      "skip": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of booking flow steps to skip (e.g., contact_info, questions, co_hosts)."
                      }
                    }
                  }
                },
                "example": {
                  "booking_form": {
                    "name": "Carrie Customer",
                    "email": "carrie.customer@example.com"
                  },
                  "utm_params": {
                    "source": "facebook",
                    "medium": "social",
                    "campaign": "webinar_signup",
                    "term": "onlinemeeting+scheduler",
                    "content": "logolink"
                  },
                  "booking_settings": {
                    "host": "teamlead@example.com",
                    "co_hosts": "cohost3@example.com,cohost4@example.com",
                    "duration_minutes": 30,
                    "skip": [
                      "contact_info"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "QUHVEKLPD93M",
                      "url": "https://oncehub.com/.QUHVEKLPD93M",
                      "creation_time": "2024-06-18T14:28:19Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "QUHVEKLPD93M"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://oncehub.com/.QUHVEKLPD93M"
                    },
                    "creation_time": {
                      "type": "string",
                      "example": "2024-06-18T14:28:19Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "This booking calendar does not allow creation of one time links: 'BKC-1234'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such booking calendar: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "deprecated": false
      }
    },
    "/notifications/sms": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "List all SMS notifications",
        "description": "Returns a list of SMS notifications sent from your account, sorted by creation date.\nYou can filter by recipient, recipient type, and creation time.\n\nThe `recipient` field can be expanded to include full contact or user details.\n",
        "operationId": "list-all-sms-notifications",
        "parameters": [
          {
            "name": "creation_time.gt",
            "in": "query",
            "description": "Return SMS notifications created after this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2025-11-01T00:00:00Z"
          },
          {
            "name": "creation_time.lt",
            "in": "query",
            "description": "Return SMS notifications created before this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2025-12-01T00:00:00Z"
          },
          {
            "name": "recipient",
            "in": "query",
            "description": "Filter by specific recipient ID (contact or user ID).\n",
            "schema": {
              "type": "string"
            },
            "example": "CTC-555444333"
          },
          {
            "name": "recipient_type",
            "in": "query",
            "description": "Filter by recipient type. Valid values are `contact` or `user`.\n",
            "schema": {
              "type": "string",
              "enum": [
                "contact",
                "user"
              ]
            },
            "example": "contact"
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "A comma-separated list of fields to expand.\nCurrently supports: `recipient`.\n",
            "schema": {
              "type": "string"
            },
            "example": "recipient"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsNotificationList"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_recipient_type": {
                    "summary": "Invalid recipient type",
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Invalid string: customer",
                      "param": "recipient_type"
                    }
                  },
                  "invalid_date_range": {
                    "$ref": "#/components/examples/InvalidCreationDateRangeExample"
                  },
                  "invalid_expansion": {
                    "$ref": "#/components/examples/InvalidExpansionExample"
                  },
                  "out_of_range_limit": {
                    "$ref": "#/components/examples/OutOfRangeLimitExample"
                  },
                  "both_before_and_after": {
                    "$ref": "#/components/examples/BothBeforeAndAfterExample"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "deprecated": false
      }
    },
    "/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List all users",
        "description": "Returns a list of all users in your account",
        "operationId": "list-all-users",
        "parameters": [
          {
            "$ref": "#/components/parameters/Email"
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserList"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "out_of_range_limit": {
                    "$ref": "#/components/examples/OutOfRangeLimitExample"
                  },
                  "both_before_and_after": {
                    "$ref": "#/components/examples/BothBeforeAndAfterExample"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Add a new user",
        "description": "Add or invite a new user to your OnceHub account\n\n> [!note]\n> Notes On Using This Endpoint\n> * The user will be added with Member role by default if no role is specified\n> * An invitation email will be sent to the user\n> * User limits apply based on your account plan (500 for purchased accounts, 30 for trial accounts)\n> * The Account Owner role cannot be assigned through the API\n",
        "operationId": "add-a-new-user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address of the new user",
                    "example": "carrie.customer@gmail.com"
                  },
                  "first_name": {
                    "type": "string",
                    "description": "First name of the new user",
                    "example": "Carrie"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name of the new user",
                    "example": "Customer"
                  },
                  "role_name": {
                    "type": "string",
                    "description": "The role to assign to the user. Valid values are `Administrator`, `Member`, or `Team Manager`. Defaults to `Member` if not specified.",
                    "enum": [
                      "Administrator",
                      "Member",
                      "Team Manager"
                    ],
                    "example": "Administrator"
                  },
                  "teams": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of team external IDs to add the user to. Each team ID must exist in the account.",
                    "example": [
                      "TM-GCJU8DLBTPY1",
                      "TM-ABC123DEF456"
                    ]
                  }
                },
                "required": [
                  "email",
                  "first_name",
                  "last_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "USR-FSD423423",
                      "object": "user",
                      "first_name": "Carrie",
                      "last_name": "Customer",
                      "email": "carrie.customer@gmail.com",
                      "status": "active",
                      "role_name": "Administrator",
                      "timezone": "America/Chicago",
                      "teams": [
                        "TM-GCJU8DLBTPY1"
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Required fields missing": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Required fields are missing.",
                      "param": "email"
                    }
                  },
                  "Invalid first name": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Invalid first_name: 'fir[/*st_na*/]?me'",
                      "param": "first_name"
                    }
                  },
                  "Invalid last name": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Invalid last_name: 'la[/*st_na*/]?me'",
                      "param": "last_name"
                    }
                  },
                  "Unsupported fields": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Unsupported fields",
                      "param": "{param_name}"
                    }
                  },
                  "Email already exists": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Email already exists: 'carrie.customer@gmail.com'",
                      "param": "email"
                    }
                  },
                  "Invalid role name": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Invalid role name: 'Super Admin'",
                      "param": "role_name"
                    }
                  },
                  "Invalid teams": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Invalid team(s): 'TM-INVALID1', 'TM-INVALID2'",
                      "param": "teams"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "User limit exceeded": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "You have reached the user limit for your current plan. To add more users, please upgrade your account."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Internal server error": {
                    "value": {
                      "type": "api_error",
                      "message": "An unexpected error occurred. Please try again later."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get a single user",
        "description": "Returns a single user by ID",
        "operationId": "get-a-single-user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the user",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such user: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Update a user",
        "description": "Update an existing user's information in your OnceHub account\n\n> [!note]\n> Notes On Using This Endpoint\n> * At least one field must be provided to update\n> * The Account Owner role cannot be assigned or updated through the APIs\n",
        "operationId": "update-a-user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the user to update",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "User's first name",
                    "example": "Andrea"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "User's last name",
                    "example": "Hartie"
                  },
                  "role_name": {
                    "type": "string",
                    "description": "The role to assign to the user. Valid values are `Administrator`, `Member`, or `Team Manager`.",
                    "enum": [
                      "Administrator",
                      "Member",
                      "Team Manager"
                    ],
                    "example": "Administrator"
                  },
                  "teams": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of team external IDs to assign the user to. This will replace existing team assignments.",
                    "example": [
                      "TM-GCJU8DLBTPY1",
                      "TM-ABC123DEF456"
                    ]
                  }
                }
              },
              "examples": {
                "Update name and role": {
                  "value": {
                    "first_name": "Andrea",
                    "last_name": "Hartie",
                    "role_name": "Administrator"
                  }
                },
                "Update teams only": {
                  "value": {
                    "teams": [
                      "TM-GCJU8DLBTPY1"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "USR-FSD423423",
                      "object": "user",
                      "first_name": "Andrea",
                      "last_name": "Hartie",
                      "email": "AndreaHartie@example.com",
                      "status": "active",
                      "role_name": "Administrator",
                      "timezone": "America/Chicago",
                      "teams": [
                        "TM-GCJU8DLBTPY1"
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "No fields provided": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "At least one field must be provided to update.",
                      "param": "body"
                    }
                  },
                  "Invalid first name": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Invalid first name: ''",
                      "param": "first_name"
                    }
                  },
                  "Invalid role name": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Invalid role name: 'InvalidRole'",
                      "param": "role_name"
                    }
                  },
                  "Account Owner role not allowed": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "The 'Account Owner' role cannot be assigned directly via the API.",
                      "param": "role_name"
                    }
                  },
                  "Invalid teams format": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Must be an array of strings.",
                      "param": "teams"
                    }
                  },
                  "Invalid team IDs": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Invalid team(s): 'TM-INVALID1', 'TM-INVALID2'",
                      "param": "teams"
                    }
                  },
                  "Unsupported field": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Unsupported field",
                      "param": "{param_name}"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Cannot update Account Owner": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Cannot update 'Account Owner' user."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "User not found": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such user: 'USR-NOTFOUND'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "410",
            "content": {
              "application/json": {
                "examples": {
                  "User deleted": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "User cannot be modified as they have been deleted: 'USR-A1B2C3'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete a user",
        "description": "Deletes a single user by ID.",
        "operationId": "delete-a-user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the user",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedObject"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such user: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "deprecated": false
      }
    },
    "/users/{id}/scheduling-availability": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get scheduling availability",
        "description": "Returns the scheduling availability for a user",
        "operationId": "get_user_scheduling_availability",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "Result",
                    "value": {
                      "object": "schedule",
                      "timezone": "America/Chicago",
                      "weekly": [
                        {
                          "day": "Monday",
                          "working_hours": [
                            {
                              "start_time": "09:00",
                              "end_time": "12:00",
                              "locations": [
                                {
                                  "type": "online_dynamic_link",
                                  "value": "google_meet",
                                  "id": null
                                }
                              ]
                            },
                            {
                              "start_time": "13:00",
                              "end_time": "17:00",
                              "locations": [
                                {
                                  "type": "online_dynamic_link",
                                  "value": "zoom",
                                  "id": null
                                },
                                {
                                  "type": "in_person_by_host",
                                  "value": "123 Office Street, New York, NY",
                                  "id": "ADD-K8E9X"
                                },
                                {
                                  "type": "in_person_by_guest",
                                  "value": null,
                                  "id": null
                                }
                              ]
                            }
                          ]
                        },
                        {
                          "day": "Wednesday",
                          "working_hours": [
                            {
                              "start_time": "10:00",
                              "end_time": "15:00",
                              "locations": [
                                {
                                  "type": "online_static_link",
                                  "value": "https://meet.example.com/team-meeting",
                                  "id": null
                                }
                              ]
                            }
                          ]
                        }
                      ],
                      "overrides": [
                        {
                          "date": "2025-11-27",
                          "day": "Thursday",
                          "working_hours": []
                        },
                        {
                          "date": "2025-12-24",
                          "day": "Wednesday",
                          "working_hours": [
                            {
                              "start_time": "09:00",
                              "end_time": "12:00",
                              "locations": [
                                {
                                  "type": "online_dynamic_link",
                                  "value": "google_meet",
                                  "id": null
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "examples": {
                  "New Example 1": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Received unknown parameter: start_date",
                      "param": "start_date"
                    }
                  },
                  "Result 1": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Invalid date format for overrides_start_time. Expected format: YYYY-MM-DD",
                      "param": "overrides_start_time"
                    },
                    "summary": "Result 1"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the user"
          }
        ]
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Update scheduling availability",
        "description": "Updates the scheduling availability for a user",
        "operationId": "patch_user_scheduling_availability",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "schedule",
                      "timezone": "America/Chicago",
                      "weekly": [
                        {
                          "day": "Monday",
                          "working_hours": [
                            {
                              "start_time": "10:00",
                              "end_time": "16:00",
                              "locations": [
                                {
                                  "type": "online_dynamic_link",
                                  "value": "zoom",
                                  "id": null
                                }
                              ]
                            }
                          ]
                        },
                        {
                          "day": "Wednesday",
                          "working_hours": [
                            {
                              "start_time": "10:00",
                              "end_time": "15:00",
                              "locations": [
                                {
                                  "type": "online_static_link",
                                  "value": "https://meet.example.com/team-meeting",
                                  "id": null
                                }
                              ]
                            }
                          ]
                        },
                        {
                          "day": "Saturday",
                          "working_hours": []
                        }
                      ],
                      "overrides": [
                        {
                          "date": "2025-12-25",
                          "day": "Thursday",
                          "working_hours": [
                            {
                              "start_time": "10:00",
                              "end_time": "12:00",
                              "locations": [
                                {
                                  "type": "online_dynamic_link",
                                  "value": "google_meet",
                                  "id": null
                                },
                                {
                                  "type": "in_person_by_guest",
                                  "value": null,
                                  "id": null
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "examples": {
                  "Response": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "availability range is overlapping: '09:00-11:00'",
                      "param": "weekly.working_hours"
                    },
                    "summary": "Response"
                  },
                  "Response 1": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "start time should be multiple of 15: '09:05'",
                      "param": "weekly.working_hours.start_time"
                    },
                    "summary": "Response 1"
                  },
                  "Response 2": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Date cannot be in the past: '2024-01-01'",
                      "param": "overrides.date"
                    },
                    "summary": "Response 2"
                  },
                  "New Example": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Duplicate entry for day or date: 'Monday'",
                      "param": "weekly"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "examples": {
                  "New Example": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "You can set either online_dynamic_link or online_static_link",
                      "param": "weekly.working_hours.locations"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "weekly": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "day": {
                          "type": "string",
                          "description": "The day of the week (e.g., \"Monday\", \"Tuesday\"). Must be a valid, case-sensitive day name. Duplicate days are not allowed."
                        },
                        "working_hours": {
                          "type": "array",
                          "description": "An array of time slot objects for the day. To clear all availability for a day, provide an empty array (`[]`). This field cannot be `null`. Time slots for a single day cannot overlap.",
                          "items": {
                            "properties": {
                              "start_time": {
                                "type": "string",
                                "description": "The start time of an availability slot in `HH:MM` format. The time must be a multiple of 15 minutes."
                              },
                              "end_time": {
                                "type": "string",
                                "description": "The end time of an availability slot in `HH:MM` format. Must be a multiple of 15 minutes and occur after the start_time."
                              },
                              "locations": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "The type of location. Valid options are: `in_person_by_host`, `in_person_by_guest`, `online_dynamic_link`, `online_static_link`, `phone_by_guest`. Duplicate types are not allowed within the same slot."
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "The unique identifier for a physical address. This field is required and only used when the type is `in_person_by_host`."
                                    },
                                    "value": {
                                      "type": "string",
                                      "description": "The value depends on the location type. For `online_static_link`, this is the static meeting URL. For `in_person_by_guest`, this is the guest-provided meeting location. This field is required only when the type is `online_static_link` or `in_person_by_host`."
                                    }
                                  },
                                  "type": "object",
                                  "required": [
                                    "type"
                                  ]
                                },
                                "description": "An array of location objects available for the time slot. Can be empty. You cannot mix `online_dynamic_link` and `online_static_link` types in the same slot."
                              }
                            },
                            "type": "object",
                            "required": [
                              "start_time",
                              "end_time",
                              "locations"
                            ]
                          }
                        }
                      },
                      "type": "object",
                      "required": [
                        "day",
                        "working_hours"
                      ]
                    },
                    "description": "An array of objects, each defining the full availability for a specific day of the week. Any day provided will have its schedule completely overwritten."
                  },
                  "overrides": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "date": {
                          "type": "string",
                          "description": "The specific date for the override in `YYYY-MM-DD` format. The date cannot be in the past. Duplicate dates are not allowed."
                        },
                        "working_hours": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "start_time": {
                                "type": "string",
                                "description": "The start time of an availability slot for the override date in `HH:MM` format. The time must be a multiple of 15 minutes."
                              },
                              "end_time": {
                                "type": "string",
                                "description": "The end time of an availability slot for the override date in `HH:MM` format. Must be a multiple of 15 minutes and occur after the `start_time`."
                              },
                              "locations": {
                                "type": "array",
                                "description": "An array of location objects available for the time slot on the override date. Can be empty.",
                                "items": {
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "The type of location for the override slot. Valid options are: `in_person_by_host`, `in_person_by_guest`, `online_dynamic_link`, `online_static_link`, `phone_by_guest`."
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "The unique identifier for a physical address. This field is required and only used when the type is `in_person_by_host`."
                                    },
                                    "value": {
                                      "type": "string",
                                      "description": "The value depends on the location type. For `online_static_link`, this is the static meeting URL. For `in_person_by_guest`, this is the guest-provided meeting location. This field is required only when the type is `online_static_link` or `in_person_by_host`."
                                    }
                                  },
                                  "type": "object",
                                  "required": [
                                    "type"
                                  ]
                                }
                              }
                            },
                            "type": "object",
                            "required": [
                              "start_time",
                              "locations",
                              "end_time"
                            ]
                          },
                          "description": "An array of time slot objects for the specific date. To make a user unavailable for the entire date, provide an empty array (`[]`). To **delete** an existing override for a date, set this value to `null`."
                        }
                      },
                      "type": "object",
                      "required": [
                        "working_hours"
                      ]
                    },
                    "description": "An array of objects, each defining an exception for a specific date. Any date provided will have its override schedule completely overwritten."
                  }
                },
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/teams": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "List all teams",
        "description": "Returns a list of all teams in your account",
        "operationId": "list-all-teams",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "Return all teams that the provided user is a member of.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamList"
                }
              }
            }
          },
[...]
